@import '../assets/main.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $yellow;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.navbar-links a {
    text-decoration: none;
    color: $font-color;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links a:hover {
    color: $bone-white;
}

.navbar-logo img {
    width: 10rem;
}

#btn-start {
    background-color: #262425;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#btn-start:hover {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.navbar-icon {
    display: none; 
}


@media (max-width: 844px) {

    .navbar-links {
      display: flex;
      flex-direction: column;
    }
    
    .navbar-links a {
        font-size: 1rem;
    }
    .navbar-icon {
        display: block; 
    }

    .navbar-logo img {
        width: 6rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-links {
        display: flex;
      flex-direction: column;
      }

      .navbar-links a {
        font-size: 1.6rem;
    }

    .navbar-icon {
        display: block; 
    }

    .navbar-logo img {
        width: 9rem;
    }

}

@media (min-width: 1440px) {
    .navbar-links {
        display: flex; 
        flex-direction: row;
        margin-left: 28rem;
    }

    .navbar-icon {
        display: block; 
    }
}
